<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>პერსონაჟის შექმნა</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/fonts/mg-glaho-drunk-master/css/mg-glaho-drunk.min.css">
    <link rel="stylesheet" href="../static/fonts/ka-lortkipanidze-master/css/ka-lortkipanidze.min.css">

</head>
<body>
    <div class="container">
        <div class="image_">
            <img src="../static/images/intro.jpg" alt="">
        </div>
            <div class="text_container">
                <p>პერსონაჟის შექმნის სხვადასხვა პარამეტრი</p>
            </div>
        </div>
    </div>
</body>
</html>