<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>character</title>
    <link rel="stylesheet" href="../static/css/styles_forma.css">
    <link rel="stylesheet" href="../static/fonts/mg-glaho-drunk-master/css/mg-glaho-drunk.min.css">
    <link rel="stylesheet" href="../static/fonts/ka-lortkipanidze-master/css/ka-lortkipanidze.min.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="../static/images/intro.jpg" alt="">
        </div>
        <div class="content">
            <div class="data">
                <p id="nameParagraph"></p>
                <p id="runningTime"></p>
            </div>
            <div class="now">
                <p>შექმენი პერსონაჟი</p>
            </div>
            <div class="forma">
                <form id="characterForm" method="post" action="/character"> <!-- Changed method to "post" and action to "/character" -->
                    <div>
                        <label for="race"><span class="absc">აირჩიე რასა</span></label>
                        
                        <select name="race" id="race">
                            <option value="human">ადამიანი</option>
                            <option value="dwarf">ჯუჯა</option>
                            <option value="elf">ელფი</option>
                        </select>

                        <label for="class"><span class="absc">აირჩიე კლასი</span></label>
                        <select name="class" id="class">
                            <option value="fighter">მებრძოლი</option>
                            <option value="ranger">რეინჯერი</option>
                            <option value="wizard">ჯადოქარი</option>
                        </select>
                    </div>
                    <div>
                        <div class="two">
                            <div class="ravi">
                                <label for="strength"><span class="absc">სიძლიერე:</span></label>
                                <input type="number" name="strength" id="strength" min="1" max="20">
                            </div>

                            <div class="ravi">
                                <label for="dexterity"><span class="absc">მოხერხებულობა:</span></label>
                                <input type="number" name="dexterity" id="dexterity" min="1" max="20">
                            </div>
                        </div>

                        <div class="two">
                            <div class="ravi">
                                <label for="constitution"><span class="absc">გამძლეობა:</span></label>
                                <input type="number" name="constitution" id="constitution" min="1" max="20">
                            </div>
    
                            <div class="ravi">
                                <label for="intelligence"><span class="absc">ინტელექტი:</span></label>
                                <input type="number" name="intelligence" id="intelligence" min="1" max="20">
                            </div>
                        </div>

                        <div class="two">
                            <div class="ravi">
                                <label for="wisdom"><span class="absc">სიბრძნე:</span></label>
                                <input type="number" name="wisdom" id="wisdom" min="1" max="20">
                            </div>
    
                            <div class="ravi">
                                <label for="charisma"><span class="absc">ქარიზმა:</span></label>
                                <input type="number" name="charisma" id="charisma" min="1" max="20">
                            </div>
                        </div>
                        <input type="hidden" name="time" id="time">

                        <button type="submit" id="submitForm" class="buttonn">პერსონაჟის შექმნა</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            var urlParams = new URLSearchParams(window.location.search);
            var name = urlParams.get('name') || 'Unknown';
            var elapsedTime = parseInt(urlParams.get('time')) || 0;
            
            document.getElementById("nameParagraph").textContent = "მოთამაშის სახელი: " + name;
            
            var minutes = Math.floor(elapsedTime / 60);
            var seconds = elapsedTime % 60;
            document.getElementById("runningTime").textContent = "შენი დრო იყო " + minutes + ":" + (seconds < 10 ? "0" : "") + seconds + " წუთი";
            
            var strength = parseInt(urlParams.get('strength')) || 10;
            var dexterity = parseInt(urlParams.get('dexterity')) || 10;
            var constitution = parseInt(urlParams.get('constitution')) || 10;
            var intelligence = parseInt(urlParams.get('intelligence')) || 10;
            var wisdom = parseInt(urlParams.get('wisdom')) || 10;
            var charisma = parseInt(urlParams.get('charisma')) || 10;
            var race = urlParams.get('race') || 'Unknown';
            var playerClass = urlParams.get('player_class') || 'Unknown'; // Changed from 'class' to 'player_class'
            
            var abilityScoresList = document.getElementById("abilityScoresList");
            var abilityScores = [
                { name: "რასა", value: race },
                { name: "კლასი", value: playerClass },
                { name: "სიძლიერე", score: strength },
                { name: "მოხერხებულობა", score: dexterity },
                { name: "გამძლეობა", score: constitution },
                { name: "ინტელექტი", score: intelligence },
                { name: "სიბრძნე", score: wisdom },
                { name: "ქარიზმა", score: charisma }
            ];
            
            abilityScores.forEach(function(score) {
                var listItem = document.createElement("li");
                if (score.score !== undefined) {
                    listItem.textContent = score.name + ": " + score.score;
                } else {
                    listItem.textContent = score.name + ": " + score.value;
                }
                abilityScoresList.appendChild(listItem);
            });
            
            var form = document.getElementById("characterForm");
            form.addEventListener("submit", function(event) {
                var abilityScores = [
                    document.getElementById("strength").value,
                    document.getElementById("dexterity").value,
                    document.getElementById("constitution").value,
                    document.getElementById("intelligence").value,
                    document.getElementById("wisdom").value,
                    document.getElementById("charisma").value
                ];
            
                var url = "/character?";
                url += "name=" + encodeURIComponent(name) + "&time=" + elapsedTime; // Fixing time parameter
                url += "&strength=" + encodeURIComponent(abilityScores[0]);
                url += "&dexterity=" + encodeURIComponent(abilityScores[1]);
                url += "&constitution=" + encodeURIComponent(abilityScores[2]);
                url += "&intelligence=" + encodeURIComponent(abilityScores[3]);
                url += "&wisdom=" + encodeURIComponent(abilityScores[4]);
                url += "&charisma=" + encodeURIComponent(abilityScores[5]);
                url += "&race=" + encodeURIComponent(race);
                url += "&player_class=" + encodeURIComponent(playerClass); // Changed from 'class' to 'player_class'
            
                // Update form action
                form.action = url;
            });
            
            document.getElementById("submitButton").addEventListener("click", function() {
                var url = "/character_page";
                window.location.href = url;
            });
        }
    </script>
</body>
</html>
