<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>character_page</title>
    <link rel="stylesheet" href="../static/css/styles_last.css">
    <link rel="stylesheet" href="../static/fonts/mg-glaho-drunk-master/css/mg-glaho-drunk.min.css">
    <link rel="stylesheet" href="../static/fonts/ka-lortkipanidze-master/css/ka-lortkipanidze.min.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="../static/images/intro.jpg" alt="">
        </div>
        <div class="content">
            <div class="data">
                <p id="nameParagraph"></p>
                <p id="runningTime"></p>
            </div>
            <div id="abilityScoresContainer">
                <!-- Display received data -->
                <ul id="abilityScoresList"></ul>
            </div>
        </div>
    </div>
    </div>
    <script>
        function translateName(name) {
            const translations = {
                human: "ადამიანი",
                elf: "ელფი",
                dwarf: "ჯუჯა",
                fighter: "მებრძოლი",
                ranger: "რეინჯერი",
                wizard: "ჯადოქარი"
            };
            return translations[name] || name;
        }

        window.onload = function() {
            var urlParams = new URLSearchParams(window.location.search);
            var name = urlParams.get('name');
            var elapsedTime = parseInt(urlParams.get('time')) || 0;

            document.getElementById("nameParagraph").textContent = "მოთამაშის სახელი: " + name;

            var minutes = Math.floor(elapsedTime / 60);
            var seconds = elapsedTime % 60;
            document.getElementById("runningTime").textContent = "შენი დრო იყო " + minutes + ":" + (seconds < 10 ? "0" : "") + seconds + " წუთი";

            var strength = parseInt(urlParams.get('strength')) || 10;
            var dexterity = parseInt(urlParams.get('dexterity')) || 10;
            var constitution = parseInt(urlParams.get('constitution')) || 10;
            var intelligence = parseInt(urlParams.get('intelligence')) || 10;
            var wisdom = parseInt(urlParams.get('wisdom')) || 10;
            var charisma = parseInt(urlParams.get('charisma')) || 10;
            var race = urlParams.get('race') || 'უცნობი';
            var playerClass = urlParams.get('class') || 'უცნობი';

            race = translateName(race);
            playerClass = translateName(playerClass);

            var abilityScoresList = document.getElementById("abilityScoresList");
            var abilityScores = [
                { name: "რასა", value: race },
                { name: "კლასი", value: playerClass },
                { name: "სიძლიერე", score: strength },
                { name: "მოხერხებულობა", score: dexterity },
                { name: "გამძლეობა", score: constitution },
                { name: "ინტელექტი", score: intelligence },
                { name: "სიბრძნე", score: wisdom },
                { name: "ქარიზმა", score: charisma }
            ];

            abilityScores.forEach(function(score) {
                var listItem = document.createElement("li");
                if (score.score !== undefined) {
                    listItem.textContent = score.name + ": " + score.score;
                } else {
                    listItem.textContent = score.name + ": " + score.value;
                }
                abilityScoresList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>
