<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>დილეგში დაკარგული</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/fonts/mg-glaho-drunk-master/css/mg-glaho-drunk.min.css">
    <link rel="stylesheet" href="../static/fonts/ka-lortkipanidze-master/css/ka-lortkipanidze.min.css">

</head>
<body>
    <div class="container">
        <div class="image_">
            <img src="../static/images/intro.jpg" alt="">
        </div>
        <div class="text_container">
            <h1>დილეგში დაკარგული</h1>
            <p id="scrollbar">
                ხარ გამოცდილი ჯადოქარი, რომელიც მეფისთვის მუშაობს. ცხოვრეაში ბევრი საინტერესო რამ გადაგხდენია თავს. მთელი სამეფო განსხვავებული სახელით გიცნობს და რეალური სახელი მხოლოდ რამდენიმე არსებამ იცის. რა არის შენი რეალური სახელი?
            </p>
            <div class="second_">
                <h2>
                    
                </h2>
                <div>
                    <input name="name" type="text" placeholder="შენი რეალური სახელი">
                    <input type="submit" value="→" class="submit" onclick="sendToConsole()">
                </div>
            </div>
        </div>
    </div>

    <script>
        function sendToConsole() {
            var name = document.getElementsByName("name")[0].value;
            window.location.href=("http://127.0.0.1:5000/starting?name=" + encodeURIComponent(name));
        }
    </script>
    
</body>
</html>