<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N1</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/fonts/mg-glaho-drunk-master/css/mg-glaho-drunk.min.css">
    <link rel="stylesheet" href="../static/fonts/ka-lortkipanidze-master/css/ka-lortkipanidze.min.css">

</head>
<body>
    <div class="container">
        <div class="image_">
            <img src="../static/images/Starting.jpg" alt="">
        </div>
        <div class="text_container">
            <h3 id="scrollbar">
                თავის ტკივილი გაღვიძებს. თვალების გახელისას ჩაბნელებულ დილეგს ხედავ, ბინძური, ნახევრად დატბორილი იატაკითა და ხის კარით. კუთხეში იატაკზე ზიხარ და ბევრს ვერაფერს ამჩნევ. შელოცვების წიგნი თან არ გაქვს. როგორ მოიქცევი?;
            </h3>
            <div class="second_">
                <h2>
                    
                </h2>
                <ul>
                    <li>                    
                        <a href="">1. დავათვალიერებ დილეგს, იქნებ რამე ვიპოვო</a>
                    </li>
                    <li>                    
                        <a href="">2. შევეცდები რამის გახსენებას</a>
                    </li>
                    <li>
                        <a href="">3. დავიწყებ ყვირილს, იქნებ ვინმემ გაიგოს</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>